* {
    margin: 0px;   
    padding: 0px;
}
h1, h2 {
    color: red;
}
#aulaSetembro {
    color: green;
}

li {
    color: yellow;
}
#turmaCriacaoPagina li{
    color: green;
}
.turmaPython {
    color: pink;
}
.grupoTeste {
    color: cyan;
}

#senai {
    color: purple;
}

#senai:hover {
    color: blue;
}